body{
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    background-color: white;
}

.nav-link {
    color: #2e0257;
    font-weight: bold;
}

.brand-color{
    color:#2e0257;

}
.navbar-toggler{
    outline: none !important;
}

/*Banner*/

.banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background:#2e0257;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.banner .row{
    min-height: calc(100vh-174px);
}

.banner .inner-page, .banner .inner-page .row {
    min-height: 400px;
    height: 500px;
}

.banner h2{
    font-size: 14px;
    font-weight: normal;
    color: white;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.banner h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner p{
    color:white;

}

@media (min-width: 768px) {
    .banner h1{
        font-size: 70px;

    }

    .banner p{
        color: white;
        font-size: 20px;
        line-height: 35px;
    }

    .banner .intro-text {
        font-size: 16px;
        line-height: 1.5;

    }

    .banner-content {
        margin-top: 20%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .banner-content{
        margin-top: 40%;
    }

    .banner  .inner-page .banner-content {
        margin-top: 20%;
        text-align: center;
    }

    .banner-inner-page .banner-content {
        margin-top:30%; 
    }

    .btn-hero{
        padding: 0;
    }
}


.btn-hero {
    background:white !important;
    color:#2e0257;
    border-radius: 1.5rem !important;
    border: 3px solid white;
    font-weight: bold !important;
    padding-bottom: 10px;
}

/*category section*/

.category-section{
    padding: 80px 50px;

}

.category-alone{
    position: relative;
    z-index: 1;

}

.category-alone:hover::before{
    transform: scale(1);
}

.category-alone::before{
    position: absolute;
    left:35px;
    top:30px;
    border: 14px solid #2e0257;
    content: "";
    opacity: 0.3;
    width: calc(100% - 70px);
    height: calc(100% - 60px);
    transform: scale(0);
    transition: all 0.3s;
}

.category-alone img{
    min-width: 100%;
}

.category-alone .inner{
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
}

.category-alone .inner h4{
    color: white;
    font-weight:bold;
    padding: 11px 28px;
    background:#7202db;
    border-radius: 2px;
}





